<!-- Banner @s -->
<div class="header-banner bg-primary">
<div class="nk-banner">
    <div class="banner banner-fs banner-single">
        <div class="banner-wrap">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-sm-10 col-md-10 col-xl-9">
                        <div class="banner-caption tc-light text-center">
                            <div class="cpn-title">
                                <h1 class="title title-xl-s3 title-semibold"><%= token.name%> is the world's <sup>first platform</sup> to offer rewards to sports game players worldwide. </h1>
                            </div>
                            <div class="cpn-text cpn-text-center">
                                <p class="lead"><%= token.name%> is a Play to earn platform on <br class="d-none d-md-block">the Binance Smart Chain and NFT.</p>
                            </div>
                            <div class="cpn-btns">
                                <ul class="btn-grp d-flex justify-content-center">
                                
                                    <li><a data-toggle="modal" data-target="#PresellBox" class="btn btn-md btn-round btn-with-icon btn-light">
                                        <span>Join Pre-Sale</span> 
                                        <em class="icon fas fa-angle-double-right"></em>
                                    </a></li>

                                    <li><a href="<%- token.whitepaper %>" class="btn btn-md btn-round btn-with-icon btn-light">
                                        <span>White Paper</span> 
                                        <em class="icon fas fa-angle-double-right"></em>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div>
            <div class="banner-social-wrap text-center">
                <ul class="banner-social banner-social-vertical">
                    <%if(social.facebook){ %><li><a href="<%- social.facebook %>"  target="_bank"><em class="fab fa-facebook-f"></em></a></li><%}%>
                    <%if(social.twitter){ %><li><a href="<%- social.twitter %>"  target="_bank"><em class="fab fa-twitter"></em></a></li><%}%>
                    <%if(social.youtube){ %><li><a href="<%- social.youtube %>"  target="_bank"><em class="fab fa-youtube"></em></a></li><%}%>
                    <%if(social.github){ %><li><a href="<%- social.github %>"  target="_bank"><em class="fab fa-github"></em></a></li><%}%>
                    <%if(social.bitcoin){ %><li><a href="<%- social.bitcoin %>"  target="_bank"><em class="fab fa-bitcoin"></em></a></li><%}%>
                    <%if(social.medium){ %><li><a href="<%- social.medium %>"  target="_bank"><em class="fab fa-medium-m"></em></a></li><%}%>
                    <%if(social.telegram){ %><li><a href="<%= social.telegram%>" target="_bank"><em class="social-icon fab fa-telegram"></em></a></li><%}%>
                

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- .nk-banner -->
</div>

<script>
var caclcBuyPresell = function(){
    
        var bnbBuy = $("#presellValue").val();
        var bnbPrice = $("#bnbPrice").text();
        var NumberBuy = Number(bnbBuy / bnbPrice).toFixed(2);

        $("#CalcBuyToken").html(NumberBuy + " <%=token.name%>");
    
}
jQuery(document).ready(function(){
    $("#bnbPrice").bind('DOMSubtreeModified', function(){
        caclcBuyPresell();
    });
    $("#presellValue").on("input change", function(){
        caclcBuyPresell();
    });

    var showPresell = "<%=showPresell%>";
    if(showPresell == "presell"){
        $("#PresellBox").modal("show");
    }
});

</script>
<!-- Modal -->
<div class="modal fade" id="PresellBox" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Buy Presell <%=token.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body sePresell">
            <div class="row mb-4">
                <div class="col-12 col-md-4 mb-3">
                    <div class="card card-body border" onClick="$('#presellValue').val(0.2);caclcBuyPresell();">
                        0.2 BNB
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <div class="card card-body border" onClick="$('#presellValue').val(0.3);caclcBuyPresell();">
                        0.3 BNB
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <div class="card card-body border" onClick="$('#presellValue').val(0.4);caclcBuyPresell();">
                        0.4 BNB
                    </div>
                </div>
            </div>
            <div>1 <%=token.name%> = <span class="price"></span> = <span class="pricebnb" id="bnbPrice"></span> BNB</div>
            Customs BNB Value <b>Pre-Sell</b><br>
            <div class="input-group mb-3">
              <input type="text" id="presellValue" value="0.1" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text" id="CalcBuyToken"><%=token.name%></span>
              </div>
            </div>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary" data-web3="presell">Confirm</button>
      </div>
    </div>
  </div>
</div>

