<div class="banner-social-wrap text-center">
    <ul class="banner-social banner-social-vertical">
        <%if(social.facebook){ %><li><a href="<%- social.facebook %>"  target="_bank"><em class="fab fa-facebook-f"></em></a></li><%}%>
        <%if(social.twitter){ %><li><a href="<%- social.twitter %>"  target="_bank"><em class="fab fa-twitter"></em></a></li><%}%>
        <%if(social.youtube){ %><li><a href="<%- social.youtube %>"  target="_bank"><em class="fab fa-youtube"></em></a></li><%}%>
        <%if(social.github){ %><li><a href="<%- social.github %>"  target="_bank"><em class="fab fa-github"></em></a></li><%}%>
        <%if(social.bitcoin){ %><li><a href="<%- social.bitcoin %>"  target="_bank"><em class="fab fa-bitcoin"></em></a></li><%}%>
        <%if(social.medium){ %><li><a href="<%- social.medium %>"  target="_bank"><em class="fab fa-medium-m"></em></a></li><%}%>
        <%if(social.telegram){ %><li><a href="<%= social.telegram%>" target="_bank"><em class="social-icon fab fa-telegram"></em></a></li><%}%>
    	<%if(social.telegram_channel){ %><li><a href="<%= social.telegram_channel%>" target="_bank"><em class="social-icon fab fa-telegram"></em></a></li><%}%>

    </ul>
</div>
<h1 class="title title-s2 text-white">Welcome to Start War</h1>
<div style="min-width:650px">
	<div class="row text-start">
		<div class="col-6 mb-4">
				<div class="card">
					<div class="card-body">
					Project Info
					</div>
				</div>
			
			
		</div>
		
		<div class="col-6  mb-4">
			<div class="card">
					<div class="card-body">
					Market
					</div>
				</div>
			
		</div>

		<div class="col-6  mb-4">
			<div class="card">
					<div class="card-body">
					Support
					
					</div>
				</div>
			
		</div>

		<div class="col-6  mb-4">
			<div class="card">
				<div class="card-body">
				<blockquote class="twitter-tweet"><p lang="en" dir="ltr">PLAY REAL GAME, EARN REAL MONEY<a href="https://twitter.com/hashtag/STARS?src=hash&amp;ref_src=twsrc%5Etfw">#STARS</a> <a href="https://twitter.com/hashtag/STARSBATTLE?src=hash&amp;ref_src=twsrc%5Etfw">#STARSBATTLE</a> <a href="https://twitter.com/hashtag/NFTGAME?src=hash&amp;ref_src=twsrc%5Etfw">#NFTGAME</a> <a href="https://twitter.com/hashtag/NFTGAMING?src=hash&amp;ref_src=twsrc%5Etfw">#NFTGAMING</a> <a href="https://twitter.com/hashtag/PLAYTOEARN?src=hash&amp;ref_src=twsrc%5Etfw">#PLAYTOEARN</a> <a href="https://twitter.com/hashtag/P2Egaming?src=hash&amp;ref_src=twsrc%5Etfw">#P2Egaming</a> <a href="https://twitter.com/hashtag/P2E?src=hash&amp;ref_src=twsrc%5Etfw">#P2E</a> <a href="https://twitter.com/hashtag/Play2Earn?src=hash&amp;ref_src=twsrc%5Etfw">#Play2Earn</a> <a href="https://t.co/G8t3bvZAX9">pic.twitter.com/G8t3bvZAX9</a></p>&mdash; Stars Battle - NFT Game (@StarsBattle_co) <a href="https://twitter.com/StarsBattle_co/status/1441290620362919937?ref_src=twsrc%5Etfw">September 24, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
				</div>
			</div>
			
		</div>
	</div>
</div>