<h4 class="contractaddress d-flex justify-content-between"></h4>
<hr>
<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-body">
			Factory : <%=address.AddressContractNFTFactory%><br>
			CAR : <%=address.AddressContractSmartNFT%><br>
			EXP : <%=address.AddressContractNFTItem%><br>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<button class="btn btn-primary" id="setupfatory" data-nft="<%=address.AddressContractSmartNFT%>" data-nft_exp="<%=address.AddressContractNFTItem%>">Settup Factory</button>
				<button class="btn btn-primary" id="setupcar" data-factory="<%=address.AddressContractNFTFactory%>" data-nft_exp="<%=address.AddressContractNFTItem%>">Settup CAR</button>
				<button class="btn btn-primary" id="setupexp" data-factory="<%=address.AddressContractNFTFactory%>">Settup EXP</button>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<h5>Create Admin</h5>
				<hr>
				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Wallet">
				  <span class="input-group-text" id="addAdmin">Create Admin</span>
				</div>
				
				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Wallet">
				  <span class="input-group-text" id="removeAdmin">Remove Admin</span>
				</div>

			</div>
		</div>
			<br>
		<div class="card">
			<div class="card-body">
				<h5>Create Static User</h5>
				<hr>
				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Wallet">
				  <span class="input-group-text" id="addStaticUser">Create User</span>
				</div>

				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Wallet">
				  <span class="input-group-text" id="removeStaticUser">Remove Users</span>
				</div>
			</div>
		</div>
			<br>
		<div class="card">
			<div class="card-body">
				<h5>Create Generator</h5>
				<hr>
				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Wallet">
				  <span class="input-group-text" id="addGenerator">Create Generator</span>
				</div>

				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Wallet">
				  <span class="input-group-text" id="removeGenerator">Remove Generator</span>
				</div>
			</div>

		</div>
	</div>

	<div class="col-6">
		
		<div class="card">
			<div class="card-body">
				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Set API URL">
				  <span class="input-group-text" id="setURL">Set URL</span>
				</div>
			</div>
		</div>

			<br>

		<div class="card">
			<div class="card-body">
				<h5>Mint Quality</h5>
				<hr>
				
				<div class="mb-3">
					Lever
					<input type="number" class="form-control" id="generation" placeholder="Generation">
				</div>
				<div class="mb-3">
					Model
					<input type="number" id="quality" class="form-control" placeholder="Quality">
				</div>
				<button class="btn btn-primary" id="mintQuality">Mint Quality</button>
			</div>
		</div>

		<br>
		<div class="card">
			<div class="card-body">
				<h5>Mint</h5>
				<hr>
				<div>
				<input type="text" class="form-control"  placeholder="Name Item" value="CXF 21">
				<button class="btn btn-primary" id="mint">Mint</button>
				</div>
			</div>
		</div>

	</div>

</div>
<hr>
<h4>EXP Item NFT </h4>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="input-group mt-3">
				  <input type="text" class="form-control" placeholder="Contract NFT Factory">
				  <span class="input-group-text" id="setFactoryItem">Set Factory</span>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<div class="input-group mt-3">
				  <input type="text" class="form-control id" placeholder="Item ID Thumnail">
				  <input type="text" class="form-control exp" placeholder="Item EXP">
				  <span class="input-group-text" id="CreateItem">Create Item</span>
				</div>
			</div>
		</div>
	</div>

</div>
<br>

<h4>CAR Customs NFT </h4>
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-8">
				
					<div class="input-group mt-3">
					  <input type="text" class="form-control" id="inputIDToken" placeholder="Token ID">
					</div>
					
			</div>
			<div class="col-md-4">
				
					<div class="input-group mt-3">
					  <input type="text" class="form-control" placeholder="Lever : 1-5">
					  <span class="input-group-text" id="setLever">Set Lever</span>
					</div>
					
			</div>

			<div class="col-md-4">
				<div class="input-group mt-3">
					  <input type="text" class="form-control" placeholder="Models : 1-5">
					  <span class="input-group-text" id="setModels">Set Models</span>
				</div>
					
			</div>

			

			<div class="col-md-4">
				<div class="input-group mt-3">
					  <input type="text" class="form-control" placeholder="Speed : 1000-1.000.000.000">
					  <span class="input-group-text" id="setSpeed">Set Speed</span>
				</div>
					
			</div>

			<div class="col-md-4">
				<div class="input-group mt-3">
					  <input type="text" class="form-control" placeholder="Acceleraction : 1000-1.000.000.000">
					  <span class="input-group-text" id="setAcceleraction">Set Acceleraction</span>
				</div>
					
			</div>

			<div class="col-md-4">
				<div class="input-group mt-3">
					  <input type="text" class="form-control" placeholder="Handing : 1000-1.000.000.000">
					  <span class="input-group-text" id="setHanding">Set Handing</span>
				</div>
					
			</div>

			<div class="col-md-4">
				<div class="input-group mt-3">
					  <input type="text" class="form-control" placeholder="Nitro: 1000-1.000.000.000">
					  <span class="input-group-text" id="setNitro">Set Nitro</span>
				</div>
					
			</div>

		</div>
	</div>
</div>
<br>

<h4>CAR Lever </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Lever</th>
      <th scope="col">Exp</th>
      <th scope="col">Speed</th>
      <th scope="col">Acceleraction</th>
      <th scope="col">Handing</th>
      <th scope="col">Nitro</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% for(var i=1; i<=15; i++) {%>
    <tr id="LeverIndex<%=i%>">
      <th scope="row"><%=i%></th>
      <td><input type="text" class="form-control exp"></td>
      <td><input type="text" class="form-control Speed"></td>
      <td><input type="text" class="form-control Acceleraction"></td>
      <td><input type="text" class="form-control Handing"></td>
      <td><input type="text" class="form-control Nitro"></td>
      <td><button type="button" class="btn btn-primary actionLever" data-lvid="<%=i%>">Execute</button></td>
    </tr>
  <% } %>
   </tbody>
</table>