<%- include("./components/banner-pages.ejs",{name : "AIRDROP PROGRAM", "description" : "Complete task and get free CAR"}) %>
<div class="bg-white">
<section class="bg-white border-bottom airdropInfo" style="margin-bottom:30px; padding-top:15px; padding-bottom:15px;">
    <div class="container">
    	<h4><%= token.name %> Airdrop Infomation</h4>
        <div class="nk-block nk-block-token">
            <div class="row align-items-center justify-content-between gutter-vr-30px">
                <div class="col-lg-6">
                    <div class="row gutter-vr-30px">
                        <div class="col-sm-6">
                            <div class="stage-info">
                                <h6 class="title title-s6 title-xs-s2">Start</h6>
                                <p class="timestart"><%= token.airdrop_start%> (9:00AM GMT)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="stage-info">
                                <h6 class="title title-s6 title-xs-s2">Number of tokens for sale</h6>
                                <p><span class="totalSub"><%= token.airdrop_amount%></span> <%- token.name%> (<%= token.airdrop_rate%>)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="stage-info">
                                <h6 class="title title-s6 title-xs-s2">End</h6>
                                <p class="timeend"><%= token.airdrop_end%> (11:00AM GMT)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="stage-info">
                                <h6 class="title title-s6 title-xs-s2">Tokens exchange rate</h6>
                                <p>1 <%- token.name%> = <span class="price"></span></p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="stage-info">
                                <h6 class="title title-s6 title-xs-s2">Reward</h6>
                                <p><%= token.airdrop_reward%> <%- token.name%></p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="stage-info">
                                <h6 class="title title-s6 title-xs-s2">Airdrop Total</h6>
                                <p class="AirDropTotal">USD</p>
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div>
                <div class="col-lg-5">
                    <div class="token-status token-status-s5 bg-light-alt round no-bd">
                        <h4>Airdrop End : <%= token.airdrop_end%></h4>
                        <div class="token-box token-box-s3">
                            <div class="countdown-s3 countdown-s4 countdown" data-date="<%= token.airdrop_end%>"></div>
                        </div>
                        <div class="token-action">
                            <a class="btn btn-md btn-round btn-grad" href="https://bscscan.com/token/<%= token.contract %>">Token Contracts</a>
                            <a class="btn btn-md btn-round btn-grad" data-address="<%= token.contract%>" data-symbol="<%= token.name%>" data-dec="18" data-logo= "<%= base %>/assets/ico/favicon.ico" data-web3=addwatch>+ Metamask</a>
                        </div>
                        <ul class="icon-list">
                            <li><em class="fab fa-bitcoin"></em></li>
                            <li><em class="fas fa-won-sign"></em></li>
                            <li><em class="fab fa-cc-visa"></em></li>
                            <li><em class="fab fa-cc-mastercard"></em></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .block @e -->
    </div>
</section>
<br>
<div class="container">
	<div class="border p-4 round">
	<div class="input-group mb-3">
	  <input type="text" class="form-control" id="LinkRef" placeholder="Link Ref" aria-label="Recipient's username" aria-describedby="basic-addon2">
	  <div class="input-group-append">
	    <span class="input-group-text" id="basic-addon2" onClick="CopyClip('LinkRef')">Copy Link</span>
	  </div>
	</div>

	Send link ref get free 10% <%= token.name %>
	<div>1 <%= token.name %> = <span class="pricebnb"></span></div>
	</div>
</div>
<br>

<div class="container">
    <div class="border rounded shadow-sm p-4 mb-4">
    
    <h4><%= token.name %> Airdrop Ruler ( Reward : <%= token.airdrop_reward%> <%= token.name%> )</h4>
    1. Share Tiwter ( <a href="<%= social.twitter%>" target="_bank">Share </a> )<br>
    2. Share Facebook  (<a href="<%= social.facebook%>" target="_bank"> Check</a> )<br>
    3. Subscribe Youtube  (<a href="<%= social.youtube%>" target="_bank"> Subscribe</a> )<br>
    4. Join Telegram Group  ( <a href="<%= social.telegram%>" target="_bank">Join </a> )<br>
    5. Join Telegram Channel ( <a href="<%= social.telegram_channel%>" target="_bank">Join</a> )<br>
    <div class="row">
        <section class="col-12">
            <ul class="nav nav-tabs flex-nowrap" role="tablist" style="display:none;">
                <li role="presentation" class="nav-item">
                    <a href="#step1" class="nav-link active" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1"></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#step2" class="nav-link disabled" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2"></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#step3" class="nav-link disabled" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3"></a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#complete" class="nav-link disabled" data-toggle="tab" aria-controls="complete" role="tab" title="Complete"></a>
                </li>
            </ul>
            <form role="form">
                <div class="tab-content py-2">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <h3>Share Tiwter</h3>
                        <p><input type="text" requierd class="form-control" placeholder="Share Tiwter URL" aria-describedby="basic-addon1"></p>
                        <button type="button" class="btn btn-primary next-step btn-sm float-right">Next</button>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <h3>Subscribe Youtube</h3>
                        <p><input type="text" class="form-control" placeholder="You Youtube Profile URL" aria-describedby="basic-addon1"></p>
                        <ul class="float-right">
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-info btn-sm prev-step">Previous</button>
                            </li>
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-primary btn-sm next-step">Next</button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h3>Join Telegram Group</h3>
                        <p><input type="text" requierd class="form-control" placeholder="You Telegram Username" aria-describedby="basic-addon1"></p>
                        <ul class="float-right">
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-info btn-sm prev-step">Previous</button>
                            </li>
                            
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-primary btn-sm btn-info-full next-step">Next</button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Complete!</h3>
                        <p>You have successfully completed all steps.</p>
                        <button type="button" class="btn btn-primary" id="ClaimAir" data-web3="airdrop" data-token="">Claim Get Free Coin</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </section>
    </div>
    </div>
</div>


<script>
$(document).ready(function () {
    var totalAirdrop = <%= token.airdrop_amount%>;
    var getBNBUSD = async function(){
        var _1token = $(".pricebnb").text().replace(' USD','');
       
        var data_price = 0;
        await $.getJSON('https://min-api.cryptocompare.com/data/price?fsym=BNB&tsyms=USD&api_key=c0cc3568f034c2ab6eaf1e70a429b1aae1a6aa10187eabfd3849fa59eccc35e4',function( data ) {

            data_price = data.USD;
            $(".AirDropTotal").html(Number(totalAirdrop * _1token).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')+" USD");
        });

        
    }
    $(".pricebnb").bind('DOMSubtreeModified', function(){
        getBNBUSD();
    });
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();
    
    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        var $target = $(e.target);
        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });

    $(".next-step").click(function (e) {
        var $active = $('.nav-tabs li>.active');
        $active.parent().next().find('.nav-link').removeClass('disabled');
        nextTab($active);
    });
    
    $(".prev-step").click(function (e) {
        var $active = $('.nav-tabs li>a.active');
        prevTab($active);
    });
});

function nextTab(elem) {
    $(elem).parent().next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
    $(elem).parent().prev().find('a[data-toggle="tab"]').click();
}

$("#ClaimAir").attr("data-token",Math.floor(Math.random() * 100000000));


var JoinTelegeGam = "<%= validateTelegram %>";
if(JoinTelegeGam == "1"){
    $("body").addClass("telegramConfirm");

}
</script>
