<%- include("./components/banner-pages.ejs",{name : "S3 GAME REWARD CAR NFT", "description" : "Deposit token now and get free NFT"}) %>
<div class="game-layout">
	<div class="buttonGameLeftBack">
			<i class="fa fa-angle-double-left" aria-hidden="true"></i>
	</div>
	<div class="buttonGameRighBack">
			<i class="fa fa-th-list" aria-hidden="true"></i>
	</div>

	<div class="container-game">
		
		<div id="game"></div>
		<div class="text-center">
			<button class="btn btn-primary btn-round btn-auto btn-primary btn-with-icon" data-toggle="modal" data-target="#HowToPlay">How to play</button><br>
			Project Public Mainet
		</div>

		<!-- Modal -->
		<div class="modal fade" id="HowToPlay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">How to play</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        	1. Buy <%= token.name%><br>
		        	2. Deposit and start
		      </div>
		      
		    </div>
		  </div>
		</div>

	</div>
</div>

<div class="modal fade" tabindex="-1" id="FarmDesopit">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Confirm Deposit</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<h4>Your Balance : <span class="balance"></span> <%= token.name%></h4>
	        <p>Check Your balance <%= token.name%> before confirm.</p>
	        <br>
	        <input type="number" value="<%= block.min_deposit%>" class="form-control">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary btn-sm" data-session="<%= block.id%>" data-web3="farmdeposit" data-min="<%= block.min_deposit%>">Confirm</button>
	      </div>
	    </div>
	  </div>
</div>

<audio id='music'>
    <source src="/music/racer.ogg">
    <source src="/music/racer.mp3">
  </audio>

<style>
.container-game{
  width:80%; 
  margin:auto;
  position: relative;
  border-radius:15px;
}
canvas{
	border-radius:15px;
}
@media (max-width: 920px){
  .container-game{
    width:98%; 
    margin:auto;
    position: relative;
  }
}
</style>
<script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
<script>
var game_1 = {
	id : <%=block.id%>,
	min_deposit : 100,
	pool_name : "<%= block.name%>",
	amount : "<%= block.amount%> <%= token.name%>",
	rate : "<%= block.rewardYear%> <%= token.name%> / Year",
	apr : "<%= block.apr%> %",
	aprweek : "<%=block.aprweek%> % / Week",
	deposit : "<%= block.deposit%> <%= token.name%>",
	claimable : "<%= block.claimable%> <%= token.name%>",
	timeEnd : "<%=block.timeEnd%>",
	status : <%=block.status%>,
	background : "<%=block.image%>",
	color : "<%=block.color%>",
	color2 : "<%=block.color2%>"
}
</script>
<script src="/dist/game_1.js"></script>

