<%- include("./components/banner-pages.ejs",{name : "FRAM GAME REWARD "+token.name+" NFT", "description" : "Deposit token now and get free NFT"}) %>
<section class="bg-white mb-4">

    
    <div class="page-header">
        <div class="container mb-3">

        	<h3 class="d-flex justify-content-between"><div class="title-s7">FARM <%= token.name%> - <%= token.name%> NFT</div>
                <div>
                
                <%if(token.contract){%><a href="https://bscscan.com/token/<%= token.contract%>" target="_bank" class="btn btn-md btn-block btn-primary">Contract</a><%}%>
                </div>
            </h3>
            
        </div>
    </div>

    <div class="container mb-3">
    

        <div class="row">
        <% items.forEach(function(data, index){ %>
            <div class="col-md-4 mb-3 col-12" id="plance">
                <div class="shadown border round">
                <img class="image-radius-top" src="<%= data.thumbnail%>" style="width:100%;">
                <div  class="text-left p-3">

                    <h4><%= data.name%></h4>
                    <hr>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between" data-timestart="<%= data.startTime%>" data-period="<%= data.period%>"><b><i class="fa fa-calendar" aria-hidden="true"></i>
Start Time:</b> <span><%= data.startTime%></span></li>
                      <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-calendar" aria-hidden="true"></i>
End Time: </b><span data-timeend="<%= data.timeEnd%>"><%= data.timeEnd%></span></li>
                      <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-check-square" aria-hidden="true"></i>
Period : </b><%- (data.period / 3600).toFixed(2) %> hour</li>
                      
                      <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-check-square" aria-hidden="true"></i> Min Deposit : </b><%- data.min_deposit%> <%= token.name%> </li>
                      <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-check-square" aria-hidden="true"></i> Total Reward : </b><%- data.totalReward%> <%= token.name%> </li>
                      <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-check-square" aria-hidden="true"></i> Pool Holder : </b><%- data.amount%> <%= token.name%> </li>
                      <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-trophy" aria-hidden="true"></i>
APR : </b><%= data.apr%>% </li>
                      <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-trophy" aria-hidden="true"></i>
Reward :</b> <%= Number(data.rewardDay).toFixed(2)%> <%= token.name%> / 1d </li>
                      <%if(data.reward_nft.allowNft == true && data.reward_nft.minDeposit > 0 ) { %>
                        
                        <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-taxi" aria-hidden="true"></i>
<%= data.reward_nft.minDeposit%> <%=token.name%>: </b>Reward Lever <%= data.reward_nft.generation%></li>
                        <%if(data.reward_nft.minDeposit2 > 0 ) { %>
                        <li class="list-group-item d-flex justify-content-between"><b><i class="fa fa-taxi" aria-hidden="true"></i>
<%= data.reward_nft.minDeposit2%> <%=token.name%> : </b>Reward Lever  <%= data.reward_nft.generation2%></li>
                        <%}%>
                        <%}%>
                    </ul>
                    <hr>
                    <%- data.joinPool%>
                    </div>
                </div>
            </div>
        <% }); %>
        </div>
    </div>

    <div class="container mb-3">
        <div class="card card-body border">
            <h4>Help play FARM POOL</h4>
            1. You need <%=token.name%> in balance<br>
            2. Click join pool when open<br>
            3. Click claim get profit<br>
            4. Click Withdraw refund token balance<br>
        </div>
    </div>
    
</section>

<script src="/assets/js/countdown.js?ver=1930"></script>
<style>
#plance:hover .shadown {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-color:var(--red) !important;
  color:var(--primary);
  bacground-color:#FFF;
}

</style>