
        
            <section class="section bg-white pb-0 ov-h" id="about">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about text-center">
                        <div class="row justify-content-center gutter-vr-30px">
                            <div class="col-lg-10">
                                <div class="section-head section-head-about">
                                    <h2 class="title fw-6 animated" data-animate="fadeInUp" data-delay=".1">About <%- token.name %></h2>
                                    <p class="fw-4 tc-dark animated" data-animate="fadeInUp" data-delay=".2">CryptoCars is a revolutionary a web based NFT roleplaying game launched on the Binance Smart Chain. CryptoCars’s mission is to provide a fun and profitable experience for our players, to create a healthy and excited community around blockchain gaming and build an ecosystem of Play to Earn systems to meet the needs of all gamers around the world.</p>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-8">
                                <div class="nk-block-video tc-light animated" data-animate="fadeInUp" data-delay=".3">
                                    <img src="<%- main.videoimage %>" alt="">
                                    <a href="<%- token.youtube %>" class="nk-block-video-play video-popup btn-play btn-play-s3">
                                    <svg class="btn-play-icon-s2" viewBox="0 0 24 34"><path fill-rule="evenodd" d="M0.212,32.552 C0.427,32.851 0.769,33.010 1.117,33.010 C1.337,33.010 1.559,32.947 1.752,32.814 L23.521,17.879 C23.816,17.678 23.991,17.350 23.991,16.998 C23.991,16.646 23.816,16.319 23.521,16.115 L1.752,1.181 C1.415,0.950 0.972,0.922 0.606,1.107 C0.240,1.292 0.010,1.661 0.010,2.064 L0.010,22.480 C0.010,23.076 0.506,23.558 1.116,23.558 C1.727,23.558 2.222,23.076 2.222,22.480 L2.222,4.142 L20.963,16.998 L0.479,31.049 C-0.020,31.393 -0.140,32.066 0.212,32.552 Z"/></svg>
                                    </a>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-white" id="why">
                <div class="ui-shape ui-shape-s1"></div>
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                    <div class="row align-items-center gutter-vr-30px">
                        <div class="col-lg-6 text-center text-lg-left">
                            <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".1">VERSION 1:</h2>
                            <strong>1. CARS</strong><br>
                            The Cars have 5 Levels from 1 to 5, Cars Level 1 are Mint completely free. You need to have Items EXP to Level Up the Cars. Level upgrade table is on Whitepaper.
                            When you have a Cars Level 5, you have the right to sell it back to the System for $ 900 (pay in USD or $CAR) like to a 15 days ROI of 120% or you can sell it on the Market for a higher price.
                        </div>
                        <div class="col-lg-6 text-center text-lg-left">
                            <strong>2. ITEM EXP</strong><br>
                            Items EXP are sold on the Market.
                            You can join the Pool, Farm, Staking and Race to get Items EXP.
                            Items EXP are used to level up Cars or can be resold on the Market.
                            Each car can only use up to 10 Items EXP 1 day.
                            </div>
                        </div>
                    </div>
                    <div class="nk-block nk-block-about">
                        <div class="row align-items-center gutter-vr-30px">
                            <div class="col-lg-5 text-center text-lg-left">
                                <div class="nk-block-text">
                                    <h2 class="title title-semibold animated" data-animate="fadeInUp" data-delay=".1">VERSION 2:</h2>
                                    <p class="tc-dark animated" data-animate="fadeInUp" data-delay=".2">
                                    <p class="animated" data-animate="fadeInUp" data-delay=".3">
                                    <strong>I.  CARS</strong><br>

                                    Game play Vesion 2 is only for Cars Level 5.<br>
                                    When your car reaches Level 5, you will be able to open the functions: Race PvP, Race in tournaments.<br>
                                    At this time, your car is extended by 5 accesories to help increase speed.<br>

                                    </p>
                                    
                                    
                                    
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-7">
                                <div class="nk-block-img nk-block-img-s2 text-center text-lg-left animated" data-animate="fadeInUp" data-delay=".5">
                                    <img src="images/zinnia/gfx-f.png" alt="">
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                    <div class="row">
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>II. ACCSSORIES</strong><br>
                            There are 5 different types of accessories, Each accessory has 1 to 3 Stars
                            Each accessory is equipped for a maximum of 50 races, after which the accessory will be burned.
                            Accessories sold on the Market or rewards for participating in the race<br>
                            • SPEED<br>
                            • ACCELERACTION<br>
                            • HANDLING<br>
                            • NITRO<br>
                            • TIME
                            . </p>
                        </div>
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>III.    RACE</strong><br>
                            •   Race with Boss: Every 120 minutes you will be able to race with Boss 1 time, 1 day you will have 12 races, each race when you Win will receive 10 EXP and rewards. If the race time runs out, you can buy more TIME accessories on the market.<br>
                            •   Race PvP : You can race with 1 other person, before racing you have to bet a certain amount of CAR Tokens, when you win you will get 95% and when you lose you will lose all the tokens you have set.<br>

                            •   Race the tour: Every week there will be 1-2 tournaments, Top 100 winners will receive a lot of rewards in Tokens and Accessories.</p>
                        </div>
                        <div class="col-md-4">
                            <p class="animated" data-animate="fadeInUp" data-delay=".4">
                            <strong>VI. RACES</strong><br>
                            • Race PVP: <br>You can race with 1 other person, before racing you have to bet a certain amount of $CAR Tokens, when you win you will get 95% and when you lose you will lose all the tokens you have set.<br>
                            • Race in tour: Every day there will be 1 tournament, Top 100 winners will receive a lot of rewards in $CAR Tokens and Accessories.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
           
           
            <%- include("components/token-info.ejs") %>
            <%- include("components/token-allocation.ejs") %>
            <%- include("components/roadmap.ejs") %>

            <%- include("components/team.ejs") %>
            <%- include("components/partners.ejs") %>
            
            
           
      
       