 

<div class="row">
  <div class="col-5">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="walletCarsMy-tab" data-toggle="tab" href="#walletCarsMy" role="tab" aria-controls="walletCarsMy" aria-selected="true">CAR'S</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="walletItemMy-tab" data-toggle="tab" href="#walletItemMy" role="tab" aria-controls="walletItemMy" aria-selected="false">EXP ITEM</a>
    </li>
    
  </ul>
  <div class="tab-content border" id="myTabContent" style="height:400px;border-top:0px !important; padding:10px;">
    <div class="tab-pane fade show active" id="walletCarsMy" role="tabpanel" aria-labelledby="walletCarsMy-tab">

        <div class="row" id="carslibs">
          <% items.forEach(function(data, index){ %>
            
              <div class="col-12 col-sm-4 mb-4">
                <div class="border p-3">
                  <img src="<%=data.image%>" class="itemFocus" data-tokenid="<%=data.id%>" style="width:100%" data-json="<%= JSON.stringify(data.options)%>">
                  <span><%=data.name%></span>
                </div>
              </div>
              
           
          <%});%>
        </div>
    </div>
    <div class="tab-pane fade" id="walletItemMy" role="tabpanel" aria-labelledby="walletItemMy-tab">

          <div class="row" id="explibs">
              <% expitem.forEach(function(data, index){ %>
              
                <div class="col-12 col-sm-4 mb-4">
                  <div class="border p-3">
                    <img src="<%=data.image%>" class="ExpFocus" data-tokenid="<%=data.tokenId%>" data-exp="<%=data.exp%>" style="width:100%">
                    <div class="text-center"><%=data.exp%> exp</div>
                    
                  </div>
                </div>
                
             
            <%});%>
          </div>
    </div>
    
  </div>

  </div>
  <div class="col-7">
    <h5>Update CAR Lever</h5>
    <div class="row">
        <div class="col-3">
          CAR
          <div class="border" id="carslibs2" style="min-height:100px;"></div>
        </div>
        <div class="col-3">
          Item EXP
          <div class="border" style="min-height:100px;" id="exptoken3">

          </div>
        </div>
        <div class="col-1">=</div>
        <div class="col-5">
            New CAR
            <div class="border" style="min-height:100px;">
              New CAR = CAR 1 + Item EXP
            </div>
        </div>
        <div class="col-12"><br><button class="btn btn-info" data-carslever="true">Up</button></div>
    </div>

    <br><br>

    <h5>EXP Up Lever</h5>
    <div class="row">
        <div class="col-3">
          Item EXP 1
          <div class="border" style="min-height:100px;" id="exptoken1"></div>
        </div>
        <div class="col-3">
          Item EXP 2
          <div class="border" style="min-height:100px;" id="exptoken2">

          </div>
        </div>
        <div class="col-1">=</div>
        <div class="col-5">
            Item EXP 3 
            <div class="border" style="min-height:100px;">
              Total Exp = Item 1 + Item 2
            </div>
        </div>
        <div class="col-12"><br><button class="btn btn-primary" data-upexp="true">Up</button></div>
    </div>
  </div>
  
</div>

<br>

<div class="row">
    <div class="col-6">
        <div class="border" style="height:320px;">
          <img src="/assets/car/noimage.png" id="fImage">
        </div>
    </div>
    <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-bottom">Token ID : #<span class="stokenid"></span></li>
          <li class="list-group-item border-bottom">Name : <span class="sname"></span></li>
          <li class="list-group-item border-bottom">Lever : <span class="sLever"></span></li>
          <li class="list-group-item border-bottom">Models : <span class="sModels"></span></li>
          <li class="list-group-item border-bottom">Power : <span class="sPower"></span></li>
          <li class="list-group-item border-bottom">Speed : <span class="sSpeed"></span></li>
          <li class="list-group-item border-bottom">Acceleraction : <span class="sAcceleraction"></span></li>
          <li class="list-group-item border-bottom">Handing : <span class="sHanding"></span></li>
          <li class="list-group-item border-bottom">Nitro : <span class="sNitro"></span></li>
          <li class="list-group-item border-bottom">Exp : <span class="sExp"></span></li>
        </ul>
    </div>

    <div class="col-10 mt-3">
        <textarea class="form-control description" placeholder="Description"></textarea>
        <br>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Price" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary btn-sm marketsell" data-market-sell data-tokenid="" type="button" id="button-addon2">SELL</button>
            
          </div>
        </div>
    </div>

    <div class="col-2 mt-3 pt-6 text-right">
        <button class="btn btn-primary btn-sm tranferid" data-tokenid="" data-toggle="modal" data-target="#transferWallet" type="button">Transfer</button>
    </div>
 </div>

 <br>

<script>
$(".itemFocus").on("click", function(){
    var getDataJSON = $(this).data("json");
    
    $(".stokenid").html(getDataJSON.tokenId);
    $(".tranferid, .marketsell").attr("data-tokenid",getDataJSON.tokenId);

    $(".sname").html(getDataJSON.CarName);
    $(".sLever").html(getDataJSON.Lever);
    $(".sModels").html(getDataJSON.Models);
    $(".sPower").html(getDataJSON.Power);
    $(".sSpeed").html(getDataJSON.Speed);
    $(".sAcceleraction").html(getDataJSON.Acceleraction);
    $(".sHanding").html(getDataJSON.Handing);
    $(".sNitro").html(getDataJSON.Nitro);
    $(".sExp").html(getDataJSON.Exp);
    $("#fImage").attr("src",getDataJSON.Image);

});
$('#transferWallet').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var recipient = button.data('tokenid')
  var modal = $(this)
  modal.find('.modal-footer button.confirm').attr("data-tokenid",recipient)
})

$(document).ready(function() {
    $('#carslibs .itemFocus').draggable({
        connectToSortable: "#carslibs2",
        helper: 'clone',
        revert: "invalid"
    });
      
    $('#carslibs2').droppable({
          drop: function(event, ui) {
              $(this).attr("data-tokenid",$(ui.helper).attr("data-tokenid"));
              $(this).html('<img src="'+$(ui.helper).attr("src")+'">');
          },
          accept: "#carslibs .itemFocus",
          activeClass: "dropActive",
          hoverClass: "dropHover"
    });

    $('#explibs .ExpFocus').draggable({
        connectToSortable: "#exptoken1, #exptoken2, #exptoken3",
        helper: 'clone',
        revert: "invalid"
    });

    $('#exptoken3').droppable({
          drop: function(event, ui) {
              $(this).attr("data-tokenid",$(ui.helper).attr("data-tokenid"));
              $(this).html('<img src="'+$(ui.helper).attr("src")+'"><span>'+$(ui.helper).attr("data-exp")+' EXP</span>');
          },
          accept: "#explibs .ExpFocus",
          activeClass: "dropActive",
          hoverClass: "dropHover"
    });

    $('#exptoken1, #exptoken2').droppable({
          drop: function(event, ui) {
              $(this).attr("data-tokenid",$(ui.helper).attr("data-tokenid"));
              $(this).html('<img src="'+$(ui.helper).attr("src")+'"><span>'+$(ui.helper).attr("data-exp")+' EXP</span>');
          },
          accept: "#explibs .ExpFocus",
          activeClass: "dropActive",
          hoverClass: "dropHover"
    });

  });
</script>


<div class="modal fade" id="transferWallet" tabindex="-1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">NFT Transfer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Enter Wallet Transfer</p>
        <input type="text" id="TransferNftWallet" class="form-control" placeholder="Wallet Transfer" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  class="btn btn-primary confirm" data-tokenid="0" data-nft-transfer="true">Confirm</button>
      </div>
    </div>
  </div>
</div>
