<!DOCTYPE html>
<html lang="en" class="js">
<head>
<meta charset="utf-8">
<meta name="author" content="<%- creator %>">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<%- description %>">
<meta name="keyword" content="<%- keywork %>">
<base href="<%- base %>">
<!-- Fav Icon  -->
<link rel="apple-touch-icon" href="<%- icoin %>/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="<%- icoin %>/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="<%- icoin %>/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="<%- icoin %>/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="<%- icoin %>/favicon.ico">
<link rel="shortcut icon" href="<%- icoin %>/favicon-32x32.png">
<meta name="theme-color" content="#7952b3">


<!-- Site Title  -->
<title><%- title %></title>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="<%- title %>">
<meta name="twitter:creator" content="<%- creator %>">
<meta name="twitter:title" content="<%- title %>">
<meta name="twitter:description" content="<%- description %>">
<meta name="twitter:image" content="<%- banner %>">

<meta property="og:url" content="<%- base %>">
<meta property="og:title" content="<%- title %>">
<meta property="og:description" content="<%- description %>">
<meta property="og:type" content="article">
<meta property="og:image" content="<%- banner %>">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">

<!-- Bundle and Base CSS -->

<link rel="stylesheet" href="/dist/bootstrap.css?ver=<%- version%>">
<link rel="stylesheet" href="/dist/theme.css?ver=<%- version%>">
<link rel="stylesheet" href="/dist/customs.css?ver=<%- version%>">
<script src="/assets/js/jquery.js?ver=<%- version%>"></script>

<style type="text/css">
body{
  background-color: #000;

}

.header-main{
  padding: 0;
  z-index: 999999999999 !important;
}
header .icoiMenu{
  display: block;
  font-size: 32px;
  text-align: center;
}
.has-fixed .icoiMenu{
  display: none;
}
header li.menu-item:hover .icoiMenu{
  animation: rotate-btn 2.5s linear 10;
  -webkit-animation: rotate-btn 2.5s linear 10;
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
header ul{
  text-align: center;
}
main{
 
  background-image: url(/dist/game/starsbattle/images/bg.png);
  min-height: 100vh;
  
  top: 0;
  width: 100%;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.card-theme {
  background-color: transparent !important;
  color: #FFF;
  background-image: url(/dist/game/starsbattle/images/background.png);
  background-size: cover;
  height: 254px;
  
}
.card-class{
  background-color: transparent !important;
  color: #FFF;
  background-image: url(/dist/game/starsbattle/images/bg2.png);
  background-size: cover;
  min-height: 230px;
  cursor: pointer;
  border: 1px solid #DDD !important;
}

.nk-pages{
  padding-top: 120px;

}
@media (max-width: 770px){
  header ul{
    text-align: left;
  }
  header .icoiMenu{
    margin-top: -5px;
    margin-right: 5px;
    
  }
  header .icoiMenu img{
    width: 24px;
    height: 24px;
  }
  header .menu-link{
    display: flex;
  }
  header .menu-item a{
    padding: 0;
    padding-bottom: 5px;
    padding-top: 15px;

  }
  .nk-pages{
    padding-top: 60px;
  }
}
</style>

</head>
    <body class="nk-body body-wider mode-onepage nio-theme">
    <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <!-- Header @s -->
            <div class="header-main">
                <div class="header-container header-container-s1">
                    <div class="header-wrap">
                        

                        <!-- Menu Toogle @s -->
                        <div class="header-nav-toggle">
                            <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
                        </div>

  


                        <!-- Menu @s -->
                        <div class="header-navbar header-navbar-s1">
                            <nav class="header-menu justify-content-between" id="header-menu">
                              <ul class="menu animated remove-animation" data-animate="fadeInDown" data-delay=".75">
                                <li class="menu-item"><a class="menu-link nav-link" href="https://starsbattle.co/"><i class="icoiMenu"><img src="/dist/game/starsbattle/icon/home.png"></i>Home</a></li>

                                  <li class="menu-item"><a class="menu-link nav-link" href="https://doc.starsbattle.co/" target="_blank"><i class="icoiMenu"><img src="/dist/game/starsbattle/icon/doc.png"></i>Document</a></li>
                                  <li class="menu-item"><a class="menu-link nav-link" href="/app/airdrop"><i class="icoiMenu"><img src="/dist/game/starsbattle/icon/airdrop.png"></i>Airdrop</a></li>
                                  <li class="menu-item"><a class="menu-link nav-link" href="/app/ido"><i class="icoiMenu"><img src="/dist/game/starsbattle/icon/ido.png"></i>IDO</a></li>
                                  
                                  <li class="menu-item">
                                      <a class="menu-link nav-link" href="/app/farm"><i class="icoiMenu"><img src="/dist/game/starsbattle/icon/farm.png"></i>Farm Pool</a>
                                      
                                  </li>
                                  <li class="menu-item"><a class="menu-link nav-link" href="/app/dailystask">
                                    <i class="icoiMenu"><img src="/dist/game/starsbattle/icon/dailystask.png"></i>
                                    Dailystask</a>
                                  </li>

                                  <li class="menu-item"><a class="menu-link nav-link" href="/app/market">
                                    <i class="icoiMenu"><img src="/dist/game/starsbattle/icon/market.png"></i>
                                    NFT Market</a>
                                  </li>
                                 
                                  

                                  <li class="menu-item"><a class="menu-link nav-link" href="/app/my">
                                    <i class="icoiMenu"><img src="/dist/game/starsbattle/icon/my.png"></i>
                                    My Ballet</a>
                                  </li>

                                  <li class="menu-item"><a class="menu-link nav-link" href="/app/marketplace">
                                    <i class="icoiMenu"><img src="/dist/game/starsbattle/icon/marketplace.png"></i>
                                    Marketplace</a>
                                  </li>


                                  <li class="menu-item"><a class="menu-link nav-link" href="/app">
                                    <i class="icoiMenu"><img src="/dist/game/starsbattle/icon/leaderboard.png"></i>
                                    Leaders broad</a>
                                  </li>


                                  <li class="menu-item"><a class="menu-link nav-link" href="/app/mining">
                                    <i class="icoiMenu"><img src="/dist/game/starsbattle/icon/play.png"></i>
                                    Game Play</a>
                                  </li>

                                  

                              </ul>
                              <ul class="menu-btns align-items-center animated remove-animation" data-animate="fadeInDown" data-delay=".85">
                                  
                                  <li><a class="btn btn-md btn-round btn-outline btn-auto btn-primary btn-with-icon walletLimit"><span id="walletAddress">Pre-sale</span> <em class="icon  fas fa-angle-double-right"></em></a></li>
                                  <li><a  class="btn btn-md btn-round btn-outline btn-auto btn-primary"  data-web3="presell"><span>Buy Token</span></a></li>
                              </ul>
                          </nav> 
                        </div><!-- .header-navbar @e -->
                    </div>                                                
                </div>
            </div>
           
    </header>

    
	<div class="nk-wrap">
		
      
    <main class="nk-pages">
      
        <div style="margin: auto;" class="container-sm">
		    <%- body %>
        </div>
    </main>
		 <footer class="nk-footer bg-theme-grad-alt">
            <div class="container"></div>
        </footer>
	</div>
<div id="toast-container"><div  class="toast toast-error toast-bottom-center hide" data-autohide="true" data-delay="5000"><div class="toast-body toast-message"></div></div></div>

	<div class="preloader"><span class="spinner spinner-round"></span></div>
    
	<script type="text/javascript" src="/assets/js/scripts.js?ver=<%- version%>"></script>
    <script type="text/javascript" src="/assets/js/charts.js?ver=<%- version%>"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"  src="/dist/apps.js?ver=<%- version%>"></script>
    <% loadJS.forEach(function(data, index){ %>
    <script type="text/javascript"  src="/dist/<%=data%>?ver=<%- version%>"></script>
    <%});%>
    

  
</body>

</html>